.maps{
    position: absolute;
    width: 620px;
    height: 590px;
    top: 60px;
    box-shadow: 4px 4px rgb(199, 199, 199);


}
.card_container{
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 16px;
    overflow-x: auto;
    overflow-y: scroll;
    width:700px;
    height:600px;
    
}

.card{
    width: 315px;
    height: 287px;
    margin: 10px;
    box-shadow: 2px 2px rgb(178, 182, 182);
    border-radius: 20px

    
}
div.card_container {
    background-color: #ffffff;
    width: 680px;
    height: 600px;
    /*overflow-x: hidden;
    overflow-y: scroll;*/
  }
.img{
    border-radius: 15px;
}



/* property cards css*/

.card_img {
   
    object-fit: cover;
    border-radius: 1rem;
  }

.card_style {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 310px;
    height: 30px;
    padding: 10px;


  }

.card_rating{
   display: flex;
   align-content: center;
   gap: 0.25rem; 
  }

.cards{
   margin: 10px;

  }

