/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Golbal variables */

:root {
  --primary-color: #f1e2d1;
  --active-color: #f2d3af;
  --grey-color: #878787;
  --speed: 500ms;
}

.playfair {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  font-family: "Poppins";
  /* For nav bar */
  /* position: relative;
  overflow-x: hidden; */
}

/* For dimming body when menu bar enters */

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
