/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap");

/* Golbal variables */

:root {
  --primary-color: #f1e2d1;
  --active-color: #f2d3af;
  --grey-color: #878787;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Poppins";
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 4em;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 4.1em;
  margin: 0;
}

ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

nav ul li a {
  position: relative;
  font-size: 1.6rem;
}

.filler {
  height: 70vh;
  width: 100%;
}

/* Footer */
